# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Environment variables
.env

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# Mac
.DS_Store

# Windows
Thumbs.db

# Distribution / packaging
build/
dist/
*.egg-info/

# Selenium Chrome profile (if stored locally)
chrome_profile/

# Download
downloads/

# PNG Files
*.PNG
*.pdf

# Profile
profile/